avatar-rocketpool-unofficial.png filter=lfs diff=lfs merge=lfs -text
readme-logo.png filter=lfs diff=lfs merge=lfs -text
avatar-rocketpool-unofficial.xcf filter=lfs diff=lfs merge=lfs -text
readme-logo.xcf filter=lfs diff=lfs merge=lfs -text
